<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img src="../assets/image/logoGarage.png" alt="logo garage Vincent Parrot" width="150">
      <ul>
        <li><a class="active" routerLink="home">Accueil</a></li>
        <li><a routerLink="services">Services</a></li>
        <li><a routerLink="vehicles">Véhicules</a></li>
        <li><a routerLink="contact">Contact</a></li>
        <li><a routerLink="/login">Se connecter</a></li>
      </ul>
    </nav>
    <section></section>
  </body>
</html>



