<div class="footer-bar">
    PRENEZ RENDEZ-VOUS AUJOURD'HUI<br>
    NOUS SOMMES DISPONIBLES PAR TÉLÉPHONE OU EMAIL
</div>


<footer>
    
    <div class="footer-content">
      <div class="footer-left">
        <h3>Plan du site</h3>
        <ul>
          <li>Accueil</li>
          <li>Services</li>
          <li>Véhicules</li>
          <li>Contact</li>
          <li>Login</li>
        </ul>
      </div>
      <div class="footer-left">
        <h3>Horaires d’ouverture</h3>
        <table>
          <tr>
            <td>lun. :</td>
            <td>08:45 – 12:00, 14:00 - 18:00</td>
          </tr>
          <tr>
            <td>mar. :</td>
            <td>08:45 – 12:00, 14:00 - 18:00</td>
          </tr>
          <tr>
            <td>mer. :</td>
            <td>08:45 – 12:00, 14:00 - 18:00</td>
          </tr>
          <tr>
            <td>jeu. :</td>
            <td>08:45 – 12:00, 14:00 - 18:00</td>
          </tr>
          <tr>
            <td>ven. :</td>
            <td>08:45 – 12:00, 14:00 - 18:00</td>
          </tr>
          <tr>
            <td>sam. :</td>
            <td>08:00 – 12:00</td>
          </tr>
          <tr>
            <td>dim. :</td>
            <td>Fermé</td>
          </tr>
        </table>
      </div>
      <div class="footer-right">
        <h3>Contact</h3>
        <p>
          Adresse : 123 Rue des Mécaniciens<br>
          Ville : 31000 Toulouse<br>
          Téléphone : +33 1 23 45 67 89<br>
          Email : contact@garagevparrot.com
        </p>
        <div class="footer-social">
          Suivez-nous sur les réseaux sociaux :<br>
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">Instagram</a>
        </div>
      </div>
    </div>
    <p class="copyright">
      &copy; 2023 Garage automobile Vincent Parrot. Tous droits réservés.
    </p>
  </footer>