html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer-bar {
  background-color: #D9777F;
  color: #252625;
  font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  margin-top: auto;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: left;
}

.footer-social {
  margin-top: 10px;
}

.footer-social a {
  margin-right: 10px;
  color: #D9777F;
  text-decoration: none;
}

/* Styles pour le copyright */
footer p {
  font-size: 12px;
  margin-top: 20px;
}
