<div class="container mt-4">

  <div class="card my-3 mx-auto" style="border-color: #D9777F;">
    <img src="../assets/image/service.jpg" alt="Carrosserie" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Carrosserie</h5>
      <p class="card-text">Nom de l'employé : {{ nomEmploye }}</p>
      <p class="card-text">E-mail : {{ emailService }}</p>
      <p class="card-text">Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
