@media (max-width: 767px) {
    .display-4 {
      font-size: 2.5rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 992px) {
    .display-4 {
      font-size: 4rem;
    }
  }
  