<!-- Section : Bannière de la page d'accueil -->
<div class="banner">
    <div class="banner-text">
      <h2>Avec fierté et savoir-faire acquis au fil de nos 15 années d'expérience,</h2>
      <p>Le Garage automobile Vincent Parrot vous offre un service de réparation automobile de qualité supérieure.</p>
    </div>
    <img src="../assets/image/facade.jpg" alt="Bannière">
  </div>

  

  <!-- Section : Présentation des services-->
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="services d-flex justify-content-between">
          <div class="service">
            <img src="../assets/image/service.jpg" alt="Carrosserie">
            <div class="service-text">
              <h3>CARROSSERIE</h3>
              <p>"Nous redonnons à votre voiture son éclat d'origine, en effaçant les traces du temps."</p>
            </div>
          </div>
      
          <div class="service">
            <img src="../assets/image/service.jpg" alt="Mécanique">
            <div class="service-text">
              <h3>MECANIQUE</h3>
              <p>"Confiez-nous votre moteur fatigué, nous lui redonnerons sa puissance d'antan."</p>
            </div>
          </div>
      
          <div class="service">
            <img src="../assets/image/service.jpg" alt="Entretien">
            <div class="service-text">
              <h3>ENTRETIEN</h3>
              <p>"Prenez soin de votre véhicule avec notre expertise, pour des trajets en toute sécurité et sans souci."</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <!-- Section : Présentation des véhicules d'occasions-->
    <div class="col-md-12 d-flex justify-content-center">
      <div class="used-vehicles d-flex justify-content-between">
          <div class="vehicle">
            <img src="../assets/image/vehicle.png" alt="Véhicule d'occasion">
            <div class="vehicle-description">
              <p><strong>Marque du véhicule</strong></p>
              <p>Année : 2000</p>
              <p>Diesel</p>
              <p>111 km</p>
              <p>&nbsp;</p>
              <hr>
              <p>&nbsp;</p>
              <p>4970 €</p>
              <button class="details-button">Détails</button>
            </div>
          </div>
        
          <div class="vehicle">
            <img src="../assets/image/vehicle.png" alt="Véhicule d'occasion">
            <div class="vehicle-description">
              <p><strong>Marque du véhicule</strong></p>
              <p>Année : 2000</p>
              <p>Diesel</p>
              <p>111 km</p>
              <p>&nbsp;</p>
              <hr>
              <p>&nbsp;</p>
              <p>4970 €</p>
              <button class="details-button">Détails</button>
            </div>
          </div>
        
          <div class="vehicle">
            <img src="../assets/image/vehicle.png" alt="Véhicule d'occasion">
            <div class="vehicle-description">
              <p><strong>Marque du véhicule</strong></p>
              <p>Année : 2000</p>
              <p>Diesel</p>
              <p>111 km</p>
              <p>&nbsp;</p>
              <hr>
              <p>&nbsp;</p>
              <p>4970 €</p>
              <button class="details-button">Détails</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-testimonial></app-testimonial>


  